<!-- Launch the nodes needed to run the OpenCabinet skill -->
<launch>

    <!-- For safety reasons, do not assume which Spot is being used -->
    <arg name="spot_name"/>
    <arg name="real_robot" default="true"/>

    <param name="/spot/immediate_control" value="true"/>

    <param name="/spot/cabinet/open_trajectory" value="/docker/spot_skills/src/spot_skills/domains/recorded_skills/open1.npy" />
    <param name="/spot/cabinet/close_trajectory" value="/docker/spot_skills/src/spot_skills/domains/recorded_skills/close1.npy" />

    <include file="$(find spot_skills)/launch/spot_moveit_bringup.launch" pass_all_args="true"/>

    <!-- Launch a node that provides services to open/close the cabinet -->
    <node name="spot_cabinet_node" pkg="spot_skills" type="spot_cabinet_node.py" required="true" output="screen"/>

    <!-- Run Rviz using a config file designed for MoveIt-based demos -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_skills)/rviz/moveit_spot_demo.rviz" />

</launch>
