<launch>
    <arg name="camera0" default="frontleft" />
    <arg name="camera1" default="frontright" />
    <arg name="localization_mode" default="false" />
    <arg name="reload" default="false" />

    <!--  should reload? -->
    <arg name="rtabmap_args" value="--delete_db_on_start" unless="$(arg reload)" />
    <!-- <arg name="rtabmap_args" value="" if="$(arg reload)" /> -->


    <!-- MAIN GROUP -->
    <group ns="rtabmap">
        <!-- Use RGBD synchronization -->
        <!-- Here is a general example using a standalone nodelet, 
         but it is recommended to attach this nodelet to nodelet 
         manager of the camera to avoid topic serialization -->
        <!-- RGBD sync -->
        <include file="$(find spot_rtabmap)/launch/include/rgbd_sync_dual.launch">
            <arg name="camera0" value="$(arg camera0)" />
            <arg name="camera1" value="$(arg camera1)" />
        </include>

        <node pkg="sensor_filters" type="pointcloud2_filter_chain"
            name="passthrough_z" output="screen">
            <rosparam command="load"
                file="$(find spot_rtabmap)/config/spot_cloud_filter.yaml" />
            <remap from="~input" to="/spot/lidar/points" />
            <remap from="~output" to="/filtered_pointcloud" />
        </node>


        <!-- args="delete_db_on_start" if you want to start a new map -->
        <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen"
            args="$(arg rtabmap_args)"
        >
            <param name="frame_id" type="string" value="body" />

            <param name="subscribe_depth" type="bool" value="false" />
            <param name="subscribe_stereo" type="bool" value="false" />
            <param name="subscribe_rgbd" type="bool" value="true" />
            <param name="subscribe_scan" type="bool" value="false" />
            <param name="subscribe_scan_cloud" type="bool" value="true" />

            <!-- rgbd image -->
            <param name="rgbd_cameras" type="int" value="2" />
            <remap from="rgbd_image0" to="$(arg camera0)_rgbd_image" />
            <remap from="rgbd_image1" to="$(arg camera1)_rgbd_image" />

            <!-- remapping -->
            <remap from="odom" to="/spot/odometry" />
            <remap from="scan_cloud" to="/filtered_pointcloud" />

            <!-- navigation -->
            <remap from="goal_out" to="/move_base_simple/goal" />

            <!-- params -->
            <param name="queue_size" type="int" value="50" />
            <param name="approx_sync" type="bool" value="true" />

            <!-- Localization mode -->
            <param name="Mem/IncrementalMemory" type="string" value="false"
                if="$(arg localization_mode)" />
            <param name="Mem/ReduceGraph" type="string" value="false" if="$(arg localization_mode)" />
            <param name="RGBD/StartAtOrigin" type="string" value="true"
                if="$(arg localization_mode)" />

            <!-- Mapping mode (i.e. not localization mode) -->
            <param name="Mem/IncrementalMemory" type="string" value="true"
                unless="$(arg localization_mode)" />
            <param name="Mem/ReduceGraph" type="string" value="true"
                unless="$(arg localization_mode)" />
            <param name="RGBD/StartAtOrigin" type="string" value="false"
                unless="$(arg localization_mode)" />

            <!-- RTAB-Map's parameters, taken from kaiyu -->
            <param name="RGBD/ProximityBySpace" type="string" value="false" />
            <param name="RGBD/AngularUpdate" type="string" value="0.01" />
            <param name="RGBD/LinearUpdate" type="string" value="0.01" />
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false" />
            <param name="Reg/Force3DoF" type="string" value="true" />
            <param name="Vis/MinInliers" type="string" value="12" />
            <param name="Vis/MinInliers" type="string" value="12" />
            <param name="Grid/CellSize" type="string" value="0.02" />
            <param name="Rtabmap/DetectionRate" type="string" value="5" />
        </node>
    </group>
</launch>