[submodule "src/spot_ros"]
	path = src/spot_ros
	url = git@github.com:Benned-H/spot_ros.git
[submodule "src/segment_anything/sam2"]
	path = src/segment_anything/sam2
	url = git@github.com:facebookresearch/sam2.git
