[submodule "src/spot_ros"]
	path = src/spot_ros
	url = git@github.com:Benned-H/spot_ros.git
[submodule "ros_docker"]
	path = docker/ros_docker
	url = https://github.com/Benned-H/ros_docker
[submodule "src/object_detection_msgs"]
	path = src/object_detection_msgs
	url = git@github.com:Benned-H/object_detection_msgs.git
[submodule "src/spot_skills/src/spot_skills/transform_utils"]
	path = src/spot_skills/src/spot_skills/transform_utils
	url = git@github.com:Benned-H/transform_utils.git
