<!-- Launch the nodes needed for Spot to navigate (i.e., SLAM and move_base) -->
<launch>
    <arg name="camera0" default="frontleft" />
    <arg name="camera1" default="frontright" />

    <!-- localization -->
    <include file="$(find spot_rtabmap)/launch/spot_rtabmap.launch">
        <arg name="camera0" value="$(arg camera0)" />
        <arg name="camera1" value="$(arg camera1)" />
        <arg name="localization_mode" value="true" />
    </include>

    <!-- move base -->
    <include file="$(find spot_move_base)/launch/move_base.launch"/>
    
</launch>