<!-- Launch the Spot ROS driver using the provided authentication -->
<launch>

    <!-- Specify whether the Spot ROS driver should load Spot's URDF -->
    <arg name="load_robot_description" />

    <!-- Specify whether the Spot ROS driver should be able to move Spot (default: false) -->
    <arg name="allow_motion" default="false" />

    <!-- Default: Assume Spot's name is "snouter" - To override, use all-lowercase -->
    <arg name="spot_name" default="snouter" />
    <arg name="spot_secrets_yaml" value="$(find spot_skills)/secrets/$(arg spot_name)_rosparams.yaml" />

    <!-- Load the username, password, and IP used to connect to Spot -->
    <rosparam command="load" file="$(arg spot_secrets_yaml)" ns="spot" />

    <!-- Launch the Spot ROS 1 driver using its primary launch file -->
    <include file="$(find spot_driver)/launch/driver.launch">
        <arg name="spot_secrets_yaml" value="$(arg spot_secrets_yaml)" />
        <arg name="load_robot_description" value="$(arg load_robot_description)" />
        <arg name="allow_motion" value="$(arg allow_motion)" />
    </include>

    <!-- Launch RViz if it was explicitly requested -->
    <arg name="rviz" default="false" />
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_viz)/rviz/robot.rviz" />
    </group>

</launch>