<!-- Launch all nodes needed to run the SLAM system on Spot -->
<launch>

    <!-- Allow users to specify the import path of the pre-constructed pointcloud map -->
    <arg name="rtabmap_database_path" default="~/.ros/rtabmap.db" />

    <!-- Default: Start the robot in localization mode and load in an existing map -->
    <arg name="localization_mode" default="true" />
    <arg name="start_new_map" default="false" />

    <!-- Launch the SLAM system using its main launch file -->
    <include file="$(find spot_rtabmap)/launch/spot_rtabmap.launch">
        <arg name="localization_mode" value="$(arg localization_mode)" />
        <arg name="start_new_map" value="$(arg start_new_map)" />
        <arg name="rtabmap_database_path" value="$(arg rtabmap_database_path)" />
    </include>

</launch>
