<!-- Launch all nodes needed to test the Spot skills -->
<launch>

    <!-- For safety reasons, do not assume which Spot is being used -->
    <arg name="spot_name" />

    <!-- We can only run the skills on the real robot -->
    <arg name="real_robot" value="true" />

    <!-- Activate GraphNav using its bringup file (use localization mode and load the map) -->
    <include file="$(find spot_skills)/launch/bringup_spot_graphnav.launch" pass_all_args="true">
        <arg name="mapping_mode" value="false" />
        <arg name="load_map" value="true" />
    </include>

    <!-- Load ROS parameters configuring Spot's navigation -->
    <include file="$(find spot_skills)/launch/bringup_spot_nav.launch" />

    <!-- Launch nodes to control Spot using MoveIt (this loads the robot description) -->
    <include file="$(find spot_skills)/launch/bringup_spot_moveit.launch" pass_all_args="true" />

    <!-- Populate ROS parameters to activate AprilTag detection -->
    <include file="$(find spot_skills)/launch/bringup_tag_tracking.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_skills)/rviz/all_spot_skills.rviz" />

</launch>
