<!-- Launch nodes to load the MoveIt planning scene from a YAML file -->
<launch>

    <arg name="environment_yaml" default="$(find tmp3)/test_domains/SpotPickAndPlace/Environments/FilingCabinetSkills/open_environment.yaml" />

    <!-- Launch a node to populate the planning scene -->
    <node name="planning_scene_manager_node" pkg="spot_skills" type="planning_scene_manager_node.py" output="screen" required="true">
        
        <!-- Pass the environment YAML path to the planning scene manager via ROS parameter -->
        <param name="environment_yaml" value="$(arg environment_yaml)" />
    
    </node>

    <!-- Publish a static transform defining the map frame as the origin -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_body_broadcaster" args="0 0 0 0 0 0 1 map body" />

</launch>