<!-- Launch the core nodes required to control a robot using MoveIt -->
<launch>

    <!-- Should MoveIt plan to control a simulated or real robot? -->
    <arg name="real_robot"/>
    <arg name="load_robot_description"/>

    <!-- If we're actively running TAMP, give the planner control over the robot joint states -->
    <arg name="actively_running_tamp"/>

    <!-- Launch the joint_state_mux and load relevant ROS parameters -->
    <include file="$(find spot_skills)/launch/joint_state_mux_bringup.launch">
        <arg name="real_robot" value="$(arg real_robot)" />
        <arg name="actively_running_tamp" value="$(arg actively_running_tamp)" />
    </include>

    <!-- Choose MoveIt's controller manager: fake, simple, or ros_control

     - fake - Provides fake trajectory execution, when we don't have a real robot

     - simple - Interfaces with any low-level controller supporting either the
        JointTrajectoryController or GripperActionController API from the ROS controllers package

     - ros_control - Directly interfaces with the ROS Controller Manager
    
     Reference: https://tinyurl.com/moveit-noetic-controllers

     Simulation: Use "fake" controller manager | Real robot: Use "simple" -->
    <arg name="moveit_controller_manager" value="fake" unless="$(arg real_robot)"/>
    <arg name="moveit_controller_manager" value="simple" if="$(arg real_robot)"/>

    <!-- Default planning pipeline: OMPL -->
    <arg name="pipeline" default="ompl" />

    <!-- Default not in debug mode -->
    <arg name="debug" default="false" />

    <!-- Set execution mode for fake execution controllers
        Options: interpolate, via points, or last point
        Reference: https://tinyurl.com/noetic-fake-controller-manager -->
    <arg name="fake_execution_type" default="interpolate" />

    <!-- Launch the main MoveIt executable (move_group) -->
    <include file="$(find spot_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true" />
        <arg name="info" value="true" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="pipeline" value="$(arg pipeline)" />
        <arg name="load_robot_description" value="$(arg load_robot_description)" />
        <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
        <arg name="fake_execution_type" value="$(arg fake_execution_type)" />
    </include>

    <!-- If in simulation, publish robot link transforms based on the available joint states -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" unless="$(arg real_robot)"/>

</launch>