<!-- Launch the nodes necessary to demonstrate the EstimatePose service -->
<launch>

    <!-- For safety reasons, do not assume which Spot is being used -->
    <arg name="spot_name"/>
    <arg name="debug_images_gui" default="false"/>

    <!-- Include the launch file to bring up nodes for pose estimation -->
    <include file="$(find spot_skills)/launch/bringup/bringup_pose_estimation.launch">
        <arg name="debug_images_gui" value="$(arg debug_images_gui)"/>
    </include>

    <!-- Launch and authenticate with the Spot ROS driver -->
    <include file="$(find spot_skills)/launch/spot_driver_bringup.launch">
        <arg name="load_robot_description" value="true"/>
        <arg name="spot_name" value="$(arg spot_name)"/>
    </include>

    <!-- Launch the Spot ROS wrapper (provides RGBD image pair service) -->
    <node name="spot_wrapper_node" pkg="spot_skills" type="spot_wrapper_node.py" output="screen"/>

    <!-- Launch RViz with a demo-specific config file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_skills)/rviz/pose_estimate.rviz"/>

</launch>