<!-- Launch only the nodes needed to demonstrate the SLAM system on Spot -->
<launch>

    <!-- Default: Assume Spot's name is "snouter" - To override, use all-lowercase -->
    <arg name="spot_name" default="snouter" />

    <!-- Launch BDAI's Spot ROS driver (used to publish sensor data into ROS) -->
    <include file="$(find spot_skills)/launch/authenticate_spot_driver.launch">
        <arg name="spot_name" value="$(arg spot_name)" />

        <!-- Load Spot's URDF using the Spot driver, as this demo doesn't use MoveIt -->
        <arg name="load_robot_description" value="true" />
    </include>

    <!-- Launch the main launch file from spot_rtabmap in localization mode -->
    <include file="$(find spot_rtabmap)/launch/spot_rtabmap.launch">
        <arg name="localization_mode" value="true" />
        <arg name="reload" default="true" />
    </include>

    <!-- Run RViz using a bringup-specific config file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_skills)/rviz/spot_slam_demo.rviz" />

</launch>