<!-- Launch the nodes needed to demonstrate navigation on Spot -->
<launch>

    <!-- For safety reasons, do not assume which Spot is being used -->
    <arg name="spot_name" />

    <include file="$(find spot_skills)/launch/spot_slam_demo.launch">
        <arg name="spot_name" value="$(arg spot_name)" />
    </include>

    <!-- Launch Spot's navigation stack from spot_move_base -->
    <include file="$(find spot_move_base)/launch/move_base.launch"/>

</launch>