<!-- Launch only the nodes needed to demonstrate the SLAM system on Spot -->
<launch>

    <!-- Default: Assume Spot's name is "snouter" - To override, use all-lowercase -->
    <arg name="spot_name" default="snouter" />
    <arg name="real_robot" default="true" />
    <!-- localization mode: whether to enable localization or not -->
    <arg name="localization_mode" default="false" />
    <!-- reload: whether to start a new map -->
    <arg name="reload" default="true" />

    <include file="$(find spot_skills)/launch/spot_moveit_bringup.launch" pass_all_args="true" />

    <!-- Launch the main launch file from spot_rtabmap in localization mode -->
    <include file="$(find spot_rtabmap)/launch/spot_rtabmap.launch">
        <arg name="localization_mode" value="$(arg localization_mode)" />
        <arg name="reload" value="$(arg reload)" />
    </include>

    <!-- Run RViz using a bringup-specific config file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_skills)/rviz/spot_slam_demo_sdk.rviz" />

</launch>
