<!-- Launch the nodes needed to track AR tags on Spot using ar_track_alvar -->
<launch>

    <!-- Require the path to a YAML file configuring the AR marker system -->
    <arg name="apriltags_yaml_path" />

    <!-- Handle three sizes of tags dubbed 'small', 'medium', and 'large' (sizes in cm) -->
    <arg name="small_marker_size_cm" value="4.0" />
    <arg name="medium_marker_size_cm" value="7.62" />
    <arg name="large_marker_size_cm" value="18.5" />

    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />

    <!-- Use Spot's hand camera to track small (single) and medium (bundle) AprilTags -->
    <node name="ar_single_hand_small" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true" output="screen">
        <param name="marker_size" type="double" value="$(arg small_marker_size_cm)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />

        <param name="output_frame" type="string" value="hand" />
        <remap from="camera_image" to="/spot/camera/hand_color/image" />
        <remap from="camera_info" to="/spot/camera/hand_color/camera_info" />
        <remap from="ar_pose_marker" to="/ar_pose_marker/hand/single"/>
    </node>

    <!-- Hand camera also detects bundles of medium tags -->
    <node name="ar_bundle_hand_medium" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="true" output="screen">
        <param name="marker_size" type="double" value="$(arg medium_marker_size_cm)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />

        <param name="output_frame" type="string" value="hand" />
        <param name="bundle_files" type="string" value="$(find spot_skills)/config/ar_markers/cabinet_bundle_1_2_3_4.xml" />
        <remap from="camera_image" to="/spot/camera/hand_color/image" />
        <remap from="camera_info" to="/spot/camera/hand_color/camera_info" />
        <remap from="ar_pose_marker" to="/ar_pose_marker/hand/bundle"/>
    </node>

    <!-- Use Spot's two front body cameras to detect medium and large tags -->
    <!-- Front-left camera detects bundles of medium tags -->
    <node name="ar_bundle_frontleft_medium" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="true" output="screen">
        <param name="marker_size" type="double" value="$(arg medium_marker_size_cm)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />

        <param name="output_frame" type="string" value="frontleft_fisheye" />
        <param name="bundle_files" type="string" value="$(find spot_skills)/config/ar_markers/cabinet_bundle_1_2_3_4.xml" />
        <remap from="camera_image" to="/spot/camera/frontleft/image" />
        <remap from="camera_info" to="/spot/camera/frontleft/camera_info"/>
        <remap from="ar_pose_marker" to="/ar_pose_marker/frontleft/bundle"/>
    </node>

    <!-- Front-left camera also detects single large tags -->
    <node name="ar_single_frontleft_large" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true" output="screen">
        <param name="marker_size" type="double" value="$(arg large_marker_size_cm)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />

        <param name="output_frame" type="string" value="frontleft_fisheye" />
        <remap from="camera_image" to="/spot/camera/frontleft/image" />
        <remap from="camera_info" to="/spot/camera/frontleft/camera_info"/>
        <remap from="ar_pose_marker" to="/ar_pose_marker/frontleft/single"/>
    </node>

    <!-- Front-right camera detects bundles of medium tags -->
    <node name="ar_bundle_frontright_medium" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="true" output="screen">
        <param name="marker_size" type="double" value="$(arg medium_marker_size_cm)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />

        <param name="output_frame" type="string" value="frontright_fisheye" />
        <param name="bundle_files" type="string" value="$(find spot_skills)/config/ar_markers/cabinet_bundle_1_2_3_4.xml" />
        <remap from="camera_image" to="/spot/camera/frontright/image" />
        <remap from="camera_info" to="/spot/camera/frontright/camera_info"/>
        <remap from="ar_pose_marker" to="/ar_pose_marker/frontright/bundle"/>
    </node>

    <!-- Front-right camera also detects single large tags -->
    <node name="ar_single_frontright_large" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true" output="screen">
        <param name="marker_size" type="double" value="$(arg large_marker_size_cm)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />

        <param name="output_frame" type="string" value="frontright_fisheye" />
        <remap from="camera_image" to="/spot/camera/frontright/image" />
        <remap from="camera_info" to="/spot/camera/frontright/camera_info"/>
        <remap from="ar_pose_marker" to="/ar_pose_marker/frontright/single"/>
    </node>

    <!-- Launch a node to forward transforms from ar_track_alvar to /tf -->
    <node name="marker_listener" pkg="spot_skills" type="marker_listener.py" output="screen" required="true">
        <param name="apriltags_yaml_path" value="$(arg apriltags_yaml_path)" />
    </node>

</launch>
