<!-- Launch the nodes and populate the ROS params needed for Spot to navigate -->
<launch>

    <!-- Indicate that the navigation system is active -->
    <param name="/spot_navigation/active" value="true" />

    <!-- YAML file specifying the 2D poses of named landmarks -->
    <param name="/spot_navigation/known_landmarks_yaml" value="$(find spot_skills)/config/known_landmarks.yaml" />

    <!-- Distance (meters) within which Spot is considered "close" to its goal -->
    <param name="/spot_navigation/close_to_goal_m" value="0.5" />

    <!-- Duration (seconds) after which a navigation command will time out -->
    <param name="/spot_navigation/timeout_s" value="120" />

    <!-- Absolute angle (radians) within which Spot is considered "close" to its goal (here, 90 degrees) -->
    <param name="/spot_navigation/close_to_goal_rad" value="1.5708" />

    <!-- Launch Spot's navigation stack using move_base -->
    <include file="$(find spot_move_base)/launch/move_base.launch"/>

</launch>