<!-- Launch the nodes needed to demonstrate SLAM + navigation on Spot, using custom Spot SDK -->
<launch>

    <!-- Default: Assume Spot's name is "snouter" - To override, use all-lowercase -->
    <arg name="spot_name" default="snouter" />

    <include file="$(find spot_skills)/launch/spot_slam_demo_sdk.launch">
        <arg name="reload" value="false" /> 
        <arg name="localization_mode" value="true"/> 
        <arg name="spot_name" value="$(arg spot_name)"/>
    </include>

    <!-- Launch the main launch file from spot_rtabmap in localization mode -->
    <include file="$(find spot_move_base)/launch/move_base.launch"/>
</launch>