<!-- Launch all nodes needed to demonstrate the SLAM system on Spot 

    This file launches/includes the following nodes/launch files:
        - spot_moveit_bringup.launch - Launches all nodes to control Spot using MoveIt, including:
            - moveit_core.launch - All MoveIt-specific nodes for controlling any robot
            - authenticate_spot_driver.launch - Connects to Spot using its ROS driver
            - spot_wrapper_node - Connects to Spot using the ROS wrapper, to control the robot
        
        - spot_rtabmap.launch - Launches all nodes to run SLAM for Spot using rtabmap, including:
            - pointcloud2_filter_chain - Filters Spot's point cloud data to remove noise
            - rgbd_image_publisher - Publishes synchronized RGB-D images from Spot to rtabmap
            - rtabmap - Core node that runs SLAM using rtabmap
            - rtabmap_viz - TODO: What does this look like, compared to RViz?
        
        - RViz - Launched with a SLAM-specific configuration file
-->
<launch>

    <!-- We can only run the SLAM system on the real robot -->
    <arg name="real_robot" value="true" />

    <!-- TODO: What are these two arguments doing? Can one inform the other? -->
    <arg name="localization_mode" default="true" />
    <arg name="reload" default="true" />

    <!-- Launch all nodes to control Spot, simulated or real, using MoveIt
    
        Optional arguments that can be modified and forwarded to the Spot-MoveIt bringup:
            spot_name (Default: snouter)
    -->
    <include file="$(find spot_skills)/launch/spot_moveit_bringup.launch" pass_all_args="true" />

    <!-- Launch the main launch file from spot_rtabmap in localization mode -->
    <include file="$(find spot_rtabmap)/launch/spot_rtabmap.launch">
        <arg name="localization_mode" value="$(arg localization_mode)" />
        <arg name="reload" value="$(arg reload)" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_skills)/rviz/spot_slam_demo.rviz" />

</launch>