<!-- Launch all nodes to control Spot, simulated or real, using MoveIt

    This file launches/includes the following nodes/launch files:
        - moveit_core.launch - All MoveIt-specific nodes for controlling any robot
        - fake_gripper_action_server - Fake controller for Spot's gripper (if simulated robot)
        - spot_driver_bringup.launch - Connects to Spot using its ROS driver (if real robot)
        - spot_wrapper_node - Connects to Spot using the ROS wrapper (to control real robot)
-->
<launch>

    <!-- Are we using a simulated (default) or real Spot? -->
    <arg name="real_robot" default="false" />

    <!-- Are we also running the TAMP system? -->
    <arg name="using_tamp" default="false" />

    <!-- Default: Assume Spot's name is "snouter" - Override using all-lowercase -->
    <arg name="spot_name" default="snouter" />

    <!-- Launch the core nodes MoveIt uses to control a robot (simulated or real) -->
    <include file="$(dirname)/moveit_core.launch" pass_all_args="true">
        <!-- Load/override the robot description (URDF) using MoveIt -->
        <arg name="load_robot_description" value="true" />
        <arg name="using_tamp" value="$(arg using_tamp)" />
    </include>

    <!-- If we're running in simulation, launch a fake controller for Spot's gripper -->
    <group unless="$(arg real_robot)">
        <node name="fake_gripper_action_server" pkg="spot_skills" type="fake_gripper_action_server.py" output="screen"/>
    </group>

    <!-- If we're running on the real robot, launch the Spot ROS driver and wrapper -->
    <group if="$(arg real_robot)">

        <!-- Launch the Spot ROS 1 driver for the named Spot -->
        <include file="$(find spot_skills)/launch/spot_driver_bringup.launch">
            <arg name="spot_name" value="$(arg spot_name)" />

            <!-- Load Spot's URDF/SRDF using MoveIt, not the Spot driver -->
            <arg name="load_robot_description" value="false" />
        </include>

        <!-- Launch a node to map Spot's joint states into link transforms -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <!-- Launch a wrapper providing an interface to Spot for ROS and MoveIt -->
        <node name="spot_wrapper_node" pkg="spot_skills" type="spot_wrapper_node.py" output="screen"/>

    </group>
</launch>